@media (max-width: 870px) {
    .table {
        font-size: 0.9rem;
    }
}


@media (max-width: 768px) {

    .alname {
        display: none;
    } 
}


@media (max-width: 600px) {

    .header {
        margin-bottom: 0px;
    }

    .table-body-scroll {
        max-height: 670px;
    }

    .apname-fnr {
        display: table-cell;
    }
    
    .apname,
    .fnr {
        display: none;
    }

    .status {
        width: 20%;
    }

}


@media (max-width: 480px) {
    th, td {
        padding: 3px 3px;
    }

    .header-title,
    .select,
    .option,
    .footer-nav-item a {
        font-size: 1rem;
    }

    .table {
        font-size: 0.7rem;
    }

    .footer-nav-item a img {
        height: 15px;
        width: auto;
    }

}


@media (max-width: 370px) {
    .gate {
        width: 8%;
    }

    .table {
        font-size: 0.6rem;
    }
} 
